.Message{
    text-align: center;
    border: dashed 3px blue;
    width: 370px;
    height: 100px;
    padding-bottom: 20px;
    position: fixed;
    top: 40%;
    right: 5%;
}
.Head{
    width: 300px;
    height: 300px;
    background-color: cadetblue;
    position: relative;
}
.Eye{
    width: 75px;
    height: 75px;
    background-color: burlywood;
    position: absolute;
    right: 0px;
    top: 20%;
}
.Pupil{
    width: 15px;
    height: 15px;
    background-color: black;
    position: absolute;
    top: 35%;
    right: 0px;
}
.Mouth{
    width: 40%;
    height: 5%;
    background-color: pink;
    position: absolute;
    top: 75%;
    right: 0px;
}
.Body{
    width: 230px;
    height: 350px;
    background-color: black;
    position: relative
}
.Arm{
    width: 155px;
    height: 40px;
    background-color: red;
    position: relative;
    left: 63%;
    top: 30%;
}